.header-div {
  max-height: 174px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;

  img {
    border-bottom: -30px;
    padding: 0;
    margin: 0;
    height: 174px;
    max-height: 250px;
  }
}
