.footer-div {
  background: #b9bdc1;
  color: white;
  align-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  border-top: black solid 2px;

  .fa-yelp {
    color: red;
  }

  .fa-phone {
    color: green;
  }

  a {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
  }

  a:hover {
    color: red;
  }

  a:visited {
    color: yellow;
  }
}
